<ion-view view-title="Beginner" hide-tabs='some-bool-expression'>
  <ion-content class="padding">
    <div class="row">
      <a class="col col-33 col-offset-33 item item-image" id="sublevel1">
        <img src="img/intro.png">
        <p>Introduction</p>
      </a>
    </div>
    <div class="row">
      <a class="col item item-image green-text" id="sublevel2" ng-href="#/tab/family-1">
        <img src="img/family.png">
        <p>Family</p>
      </a>
      <a class="col item item-image green-text" id="sublevel3">
        <img src="img/home.png">
        <p>Home</p>
      </a>
      <a class="col item item-image green-text" id="sublevel4">
        <img src="img/food.png">
        <p>Food</p>
      </a>
    </div>
    <div class="row">
      <a class="col item item-image green-text" id="sublevel5">
        <img src="img/kitchen.png">
        <p>Kitchen</p>
      </a>
      <a class="col item item-image green-text" id="sublevel6">
        <img src="img/fruits.png">
        <p>Fruits</p>
      </a>
      <a class="col item item-image green-text" id="sublevel7">
        <img src="img/vegetables.png">
        <p>Vegetabls</p>
      </a>
    </div>

  </ion-content>
</ion-view>
